.error-input-field label {
  color: #dc3545 !important;
}

.error-input-field input {
  border-bottom: 2px solid #dc3545 !important;
}

.error-input-field select {
  border-bottom: 2px solid #dc3545 !important;
}

.error-input-field .input-group-text {
  border-bottom: 2px solid #dc3545 !important;
}

.form-control {
  border-radius: 4px;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  color: #606266;
  font-size: 13px !important;
  box-shadow: inset 0 0 5px rgba(200, 200, 200, 0.2);
}

.field-input input {
  background: #f4f4f5;
  border-bottom: 2px solid #b2c2cd;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  border-radius: 0;
}

.field-input select {
  background: #f4f4f5;
  border-bottom: 2px solid #b2c2cd;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  border-radius: 0;
}

.field-input .input-group-text {
  background: #f4f4f5;
  border-bottom: 2px solid #b2c2cd;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  border-radius: 0 !important;
}

.primary-large-button {
  background-color: #255bc7 !important;
  color: #fff !important;
  border: 1px solid#255bc7 !important;
  padding: 10px !important;
  font-weight: 600 !important;
  border-radius: 0% !important;
  width: 100% !important;
}

.borderR4 {
  border-radius: 4px !important;
}

.primary-large-button:hover {
  background-color: #052d7e !important;
  border: 1px solid#052d7e !important;
}

.bg-signup {
  /* background: url(../../Assets/Images/pattern-body.svg); */
  background-size: cover;
  height: 100%;
}
.form-group label {
  color: #003349;
  font-weight: 600;
  font-size: 14px;
}
.signup-head {
  font-size: 25px;
  font-weight: 600;
  color: #343a40 !important;
}
.inputmelt {
  background-color: #f4f4f5;
  width: 22px;
  border-bottom: 2px solid #b2c2cd;
}
.linksopn {
  font-size: 14px;
}

.marginRight5 {
  margin-right: 5px !important;
}

.padding5 {
  padding: 5px !important;
}

.form-control + .input-group-append .input-group-text svg {
  width: 10px;
  height: 10px;
}

.inputmelt img {
  position: absolute;
  top: 15px;
  right: 5px;
}
.fw-600 {
  font-weight: 600;
}

.line {
  width: 40%;
  border-top: 1px solid #dee2e6 !important;
}
.sMedia-signup-field:hover {
  border: 1px solid rgba(222, 235, 255, 0.9);
  border-radius: 6.25rem;
  background-repeat: repeat-x;
  background: rgba(222, 235, 255, 0.9);
}
.sMedia-signup-field {
  border: 1px solid #909090;
  border-radius: 6.25rem;
  background-repeat: repeat-x;
  color: #000;
  height: 44px;
  cursor: pointer;
  padding: 7px 0 0 20px;
  font-weight: 600;
}

.validation-box {
  border: 1px solid#c7a3a7;
  background-color: #f8d7da;
  border-radius: 0.25rem;
}
.validation-box p {
  color: #721c24;
  font-size: 14px;
}

.firebase_button_wrapper .firebaseui-card-content {
  padding: 0;
}

.firebase_button_wrapper .firebaseui-idp-button {
  max-width: 100%;
  border-radius: 4px;
  min-height: 0;
}

.firebase_button_wrapper .firebaseui-idp-text {
  padding-left: 70px;
}
